*{
    margin:0;
    padding:0;
    font-family: 'Gilrouy';
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color: rgb(247, 192, 201);
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: rgb(239, 225, 230);
    border-radius: 10px;
}
#pntp{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px 25%;
    color: white;
    width: 100%;
    height: 85px;
    background-color: rgb(165, 59, 94);
}

.dabba{
    display: flex;
    align-items: center;
    gap: 20px;

}
.dabba h2{
    font-weight: 400;
    font-size: 22px;
}

.box{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
    padding: 10px 15px;
    background-color: rgb(245, 237, 237);
    border-radius: 5px;

}

#pnbt{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(205, 42, 97);
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    width: 100%;
    height: calc(100%-85px);
    background-color: rgb(243, 220, 228);
}
.bubble{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    background-color: rgb(99, 32, 54);
}
.bubble:hover{
    background-color:rgb(64, 9, 28);
    cursor: pointer;
}